.button {
	background-color: #d0bd97;
	display: inline-block;
	white-space: nowrap;
	border: 1px solid #94866d;
	border-radius: 10px;
	width: 160px;
	padding: 0.5em 0.5em;
}

.button.checked {
	background: repeating-linear-gradient(-45deg,#bfffbd 0 20px,#4cf172 20px 30px);
	border-color: #012100;
}
